@font-face {
    font-family: 'STIXTwoText-Regular', serif;
    src: url("../font/STIXTwoText-Regular.ttf") format("truetype");
}

@font-face {
    font-family: 'STIXTwoText-Bold', serif;
    src: url("../font/STIXTwoText-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'STIXTwoText-Medium', serif;
    src: url("../font/STIXTwoText-Medium.ttf") format("truetype");
}

